@model List<AppRole>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<a asp-action="Create" asp-controller="Role" class="btn btn-outline-success mt-4 ml-4">Add New Role</a>
<br />
<br />
<label class="text-danger ml-4 ">If you add user from this panel, user password is equal to username that you enter.</label>
<table class="mt-4 table table-hover table-bordered table-sm">
    <thead>
        <tr class="text-center">
            <td>Role Name</td>
           


            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr class="text-center">


    <td>@item.Name</td>
    



    
</tr>}
    </tbody>
</table>
