
<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="datatable2" class="table table-bordered table-hover" data-id="@ViewData["Id"]"">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Explanation</th>
                    <th>BillCost</th>
                   
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>




</script> 